* {
    padding: 0;
    margin: 0;
}

img {
    height: 300px;
    width: 300px;
}

.picture-frame {
    display: flex;
    height: 300px;
    width: 900px;
    position: relative;
    /* increment the below property 
    by -300, to choose which image is displayed
    probably should have wrap the container in another div
    to center everything on the screen */
    left: 0px;
    top: 0px;
}

.container {
    height: 300px;
    width: 300px;
    overflow: hidden;
    position: absolute;
    top: 68px;
    bottom: 0px;
    left: 600px;
}



.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0px;
}

.previous,
.next {
    position: relative;
    top: 150px;
}

.next {
    left: 918px;
}

.previous {
    left: 574px;
    top: 168px;
}

.previous:hover,
.next:hover {
    cursor: pointer;
}

.circle {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.circle-container {
    position: relative;
    z-index: 1;
    bottom: 20px;
    left: 120px;
    display: flex;
    gap: 2px;
}